body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  margin: 0;
  /*padding: 1rem;*/
  padding-top: 0;
  font-family: sans-serif;
  /*background-color: #f9f4ed;*/
}
.active {
  color: red;
}
/* login styles */
p,
div {
  font-family: Lato;
}

/* 
  Colors:
  https://coolors.co/22223b-4a4e69-eadae4-9a8c98-c9ada7 
*/
/*
YANKEES BLUE: #22223B
INDEPENDENCE: #4A4E69
PLATINUM: #EADAE4
SPANISH GRAY: #9A8C98
SILVER PINK: #C9ADA7
*/
.userImage {
  width: 20px;
  height: 20px;
}
.ui.inverted.blue.segment.claim_footer {
  background-color: #164c60 !important;
}
.ui.card > .content > .header.card_header {
  color: #4bbbb5;
}
.ui.menu.claim_menu {
  color: #164c60;
}

.ui.inverted.vertical.labeled.icon.ui.push.right.thin.visible.sidebar.mobileSideBar.menu {
  background-color: #164c60 !important;
}

/* slide animation*/
