body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  margin: 0;
  /*padding: 1rem;*/
  padding-top: 0;
  font-family: sans-serif;
  /*background-color: #f9f4ed;*/
}
.active {
  color: red;
}
/* login styles */
p,
div {
  font-family: Lato;
}

/* 
  Colors:
  https://coolors.co/22223b-4a4e69-eadae4-9a8c98-c9ada7 
*/
/*
YANKEES BLUE: #22223B
INDEPENDENCE: #4A4E69
PLATINUM: #EADAE4
SPANISH GRAY: #9A8C98
SILVER PINK: #C9ADA7
*/
.userImage {
  width: 20px;
  height: 20px;
}
.ui.inverted.blue.segment.claim_footer {
  background-color: #164c60 !important;
}
.ui.card > .content > .header.card_header {
  color: #4bbbb5;
}
.ui.menu.claim_menu {
  color: #164c60;
}

.ui.inverted.vertical.labeled.icon.ui.push.right.wide.visible.sidebar.mobileSideBar.menu {
  background-color: #164c60 !important;
}

/* slide animation*/
.mobileMenu {
  display: grid;
  font-size: 1.1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  grid-template-areas:
    "leftSpace leftSpace closeButton"
    "menuArea menuArea rightSpace";
}
.close {
  display: grid;
  grid-area: closeButton;
  justify-items: center;
  justify-self: end;
  /*border: 1px solid blue;*/
}
.listItems {
  display: grid;
  justify-items: center;
  font-size: 1.1rem;
  grid-area: menuArea;
  /*border: 1px solid green;*/
}
#carousel-image1 {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  font-size: 6rem;
  background-image: url("/static/class.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#carousel-image2 {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  font-size: 6rem;
  background-image: url("/static/coding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#carousel-image3 {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  font-size: 6rem;
  background-image: url("/static/presentation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#carousel-image4 {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  font-size: 6rem;
  background-image: url("/static/mindset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 700px) {
  #carousel-image1 {
    font-size: 3rem;
  }
  #carousel-image2 {
    font-size: 3rem;
  }
  #carousel-image3 {
    font-size: 3rem;
  }
  #carousel-image4 {
    font-size: 3rem;
  }
}
